# String Formatting

one often wants to output a formatted string, consisting of values interpolated into a string
some values...

In [80]:
name = 'Bob'
age = 40

naively, one might convert the values to strings and concatenate them together

In [81]:
'Hello, my name is ' + name + ' and I am '+ str(age) + ' years old'

'Hello, my name is Bob and I am 40 years old'

python 2 introduced a first version of string formatting, similar to C's printf

In [82]:
'Hello, my name is %s and I am %d years old' % (name, age)

'Hello, my name is Bob and I am 40 years old'

python 3 introduced a cleaner format

In [83]:
# python 3

'Hello, my name is {} and I am {} years old'.format(name, age)

'Hello, my name is Bob and I am 40 years old'

and python 3.6 introduced an even nicer format!

In [84]:
f'Hello, my name is {name} and I am {age} years old'

'Hello, my name is Bob and I am 40 years old'

# List Comprehensions

one might want to compute the prime numbers less than 100
(very non-optimal solution)

In [85]:
primes = []

for candidate in range(2, 100, 1):
    prime = True
    
    for other in range(2, 100, 1):
        if candidate % other == 0 and candidate != other:
            prime = False
            
    if prime:
        primes.append(candidate)
        
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

rewriting this with a list comprehension

syntax: 

L = [mapping_expression for element in source_list if filter_expression]

In [86]:
ints = list(range(2, 100, 1))

primes = [x for x in ints
          if all(x % y != 0 for y in ints
                 if x != y)]

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Lambda Functions

In [87]:
def square(x):
    return x**2

square(2)

4

this can be rewritten as an application of an anonymous function (lambda function)

In [88]:
(lambda x: x**2)(2)

4

In [89]:
square = lambda x: x**2

square(2)

4

a slightly less trivial example

In [90]:
def power(y):
    return lambda x: x**y

power(2)(2)

4

# filter

In [91]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

evens = []
for i in numbers:
    if i % 2 == 0:
        evens.append(i)

print(evens)

[0, 2, 4, 6, 8, 10]

In [92]:
evens = [i for i in numbers if i % 2 == 0]

print(evens)

[0, 2, 4, 6, 8, 10]

In [93]:
evens = filter(lambda x: x % 2 == 0, numbers)

print(list(evens))

[0, 2, 4, 6, 8, 10]

# map

In [94]:
def square(x):
    return x**2

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = [square(x) for x in numbers]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [95]:
squares = map(square, numbers)

print(list(squares))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# reduce

In [96]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_n = 0
for x in numbers:
    sum_n += x
    
sum_n

55

In [97]:
from functools import reduce

add = lambda x, y: x+y
sum_n = reduce(add, numbers, 0)

sum_n

55